{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Publications</h1>
			
			{{ $pubs_working_paper_len := len (where .Data.Pages.ByDate.Reverse ".Params.working_paper" true) }}
			{{ if gt $pubs_working_paper_len 0 }}
				{{ range $index, $element := where .Data.Pages.ByDate.Reverse ".Params.working_paper" true }}
				<div class="row" id="pub_list">
				
					{{ if and (.Params.working_paper) (eq $index 0) }}
					<div class="col-md-2">
						<h3> Working Paper </h3>
					</div>
					{{ else }}
					<div class="col-md-2">
					</div>
					{{ end }}
					
					<div class="col-md-10">
						<ul class="compact fa-ul">

							<li>
								<i class="fa-li fa fa-file-text-o"  aria-hidden="true" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
								[W{{ sub $pubs_working_paper_len $index}}] {{ .Title }}
								<p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
							</li>

						</ul>
					</div>
					
				</div>   
				{{ end }}
			<br> <br>
			{{ end }}					 
			
			{{ $pubs_preprint_len := len (where .Data.Pages.ByDate.Reverse ".Params.preprint" true) }}
			{{ if gt $pubs_preprint_len 0 }}
				{{ range $index, $element := where .Data.Pages.ByDate.Reverse ".Params.preprint" true }}
				<div class="row" id="pub_list">
				
					{{ if and (.Params.preprint) (eq $index 0) }}
					<div class="col-md-2">
						<h3> Preprint </h3>
					</div>
					{{ else }}
					<div class="col-md-2">
					</div>
					{{ end }}
					
					<div class="col-md-10">
						<ul class="compact fa-ul">

							<li>
								<i class="fa-li fa fa-file-text-o"  aria-hidden="true" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
								[P{{ sub $pubs_preprint_len $index}}] {{ .Title }}
								<p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
							</li>

						</ul>
					</div>
					
				</div>   
				{{ end }}
			<br> <br> 
			{{ end }}
			
			{{ $pubs_journal_len := len (where .Data.Pages.ByDate.Reverse ".Params.journal" true) }}
			{{ if gt $pubs_journal_len 0 }}
				{{ range $index, $element := where .Data.Pages.ByDate.Reverse ".Params.journal" true }}
				<div class="row" id="pub_list">
				
					{{ if and (.Params.journal) (eq $index 0) }}
					<div class="col-md-2">
						<h3> Journal </h3>
					</div>
					{{ else }}
					<div class="col-md-2">
					</div>
					{{ end }}
					
					<div class="col-md-10">
						<ul class="compact fa-ul">

							<li>
								<i class="fa-li fa fa-file-text-o"  aria-hidden="true" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
								[J{{ sub $pubs_journal_len $index}}] {{ .Title }}
								<p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
							</li>

						</ul>
					</div>
					
				</div>   
				{{ end }}
			<br> <br>
			{{ end }}
			
			{{ $pubs_conference_len := len (where .Data.Pages.ByDate.Reverse ".Params.conference" true) }}
			{{ if gt $pubs_conference_len 0 }}
				{{ range $index, $element := where .Data.Pages.ByDate.Reverse ".Params.conference" true }}
				<div class="row" id="pub_list">
				
					{{ if and (.Params.conference) (eq $index 0) }}
					<div class="col-md-2">
						<h3> Conference </h3>
					</div>
					{{ else }}
					<div class="col-md-2">
					</div>
					{{ end }}
					
					<div class="col-md-10">
						<ul class="compact fa-ul">

							<li>
								<i class="fa-li fa fa-file-text-o"  aria-hidden="true" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
								[C{{ sub $pubs_conference_len $index}}] {{ .Title }}
								<p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
							</li>

						</ul>
					</div>
					
				</div>   
				{{ end }}
			<br> <br>
			{{ end }}
			
			{{ $pubs_thesis_len := len (where .Data.Pages.ByDate.Reverse ".Params.thesis" true) }}
			{{ if gt $pubs_thesis_len 0 }}
				{{ range $index, $element := where .Data.Pages.ByDate.Reverse ".Params.thesis" true }}
				<div class="row" id="pub_list">
				
					{{ if and (.Params.thesis) (eq $index 0) }}
					<div class="col-md-2">
						<h3> PhD Thesis </h3>
					</div>
					{{ else }}
					<div class="col-md-2">
					</div>
					{{ end }}
					
					<div class="col-md-10">
						<ul class="compact fa-ul">

							<li>
								<i class="fa-li fa fa-file-text-o"  aria-hidden="true" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
								{{ .Title }}
								<p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
							</li>

						</ul>
					</div>
					
				</div>   
				{{ end }}
			<br> <br>
			{{ end }}

        </div>
    </div>

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
